:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #1e1e1e;
  --ion-color-primary: #3b82f6;
  --ion-color-primary-contrast: #ffffff;
  --ion-toolbar-background: #3b82f6;
  --ion-toolbar-color: #ffffff;
  --ion-item-background: #ffffff;
  --ion-card-background: #f9f9f9;
}

body.dark {
  --ion-background-color: #181818;
  --ion-text-color: #f4f4f4;
  --ion-color-primary: #22223b;
  --ion-color-primary-contrast: #f4f4f4;
  --ion-toolbar-background: #22223b;
  --ion-toolbar-color: #f4f4f4;
  --ion-item-background: #232323;
  --ion-card-background: #232323;
  --ion-color-primary-shade: #ffffff;
  --ion-color-primary-tint: #e0e0e0;
  --ion-item-background-hover: #333333;
  --ion-tab-bar-color-selected: #fff;
  --ion-tab-bar-background: #181818;
}

body.dark ion-tab-button.tab-selected,
body.dark ion-item:hover,
body.dark ion-button:hover {
  color: #fff !important;
  --color: #fff !important;
  background: #333 !important;
}
